*{
         box-sizing: border-box;
         margin: 0;
         padding: 0;
      }

   body{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: arial;
   }

   body  #whatspp-icon .fa-brands{
      font-size:40px;
      position:fixed;
      top:490px;
      right:20px;
      background-color: #25d366;
      color: white;
      padding: 15px;
      box-sizing: border-box;
      border-radius: 100%;
      box-shadow: 1px 1px .5px .5px rgba(0, 0, 0, 0.5);
    }

    body #whatspp-icon .fa-brands:hover{
      color: #b8001a;
   }

   .body{
            background-image: url(https://darshan.ac.in/U01/Slider/Slide_0.jpg?V=1);
            background-size: cover;
            animation:paresh 40s infinite linear;
         }

         @keyframes paresh{
            0%{
               background-image: url(https://darshan.ac.in/U01/Slider/Slide_0.jpg?V=1);
            }
            10%{
               background-image: url(https://darshan.ac.in/U01/Slider/Slide_1.jpg?V=1);
            }
            20%{
               background-image: url(https://darshan.ac.in/U01/Slider/Slide_2.jpg?V=1);
            }
            30%{
               background-image: url(https://darshan.ac.in/U01/Slider/Slide_3.jpg?V=1);
            }
            40%{
               background-image: url(https://darshan.ac.in/U01/Slider/Slide_4.jpg?V=1);
            }
            50%{
               background-image: url(https://darshan.ac.in/U01/Slider/Slide_5.jpg?V=1);
            }
            60%{
               background-image: url(https://darshan.ac.in/U01/Slider/Slide_6.jpg?V=1);
            }
            70%{
               background-image: url(https://darshan.ac.in/U01/Slider/Slide_7.jpg?V=1);
            }
            80%{
               background-image: url(https://darshan.ac.in/U01/Slider/Slide_8.jpg?V=1);
            }
            90%{
               background-image: url(https://darshan.ac.in/U01/Slider/Slide_9.jpg?V=1);
            }
            100%{
               background-image: url(https://darshan.ac.in/U01/Slider/Slide_10.jpg?V=1);
            }
         }

         .body .radio-btns{
      position:absolute;
      top: 200px;
      right: 100px;
    }

    .body .radio-btns .radio-btn{
      display: block;
      margin: 10px;
    }


   .header{
      height: 15vh;
      position: sticky;
      top: 0;
      display: flex;
      justify-content: space-between;
   }

   .header  .logo{
      float: left;  
   }



   .header  .logo  img{
      height: 80px;
      background-color:  rgba(255, 255, 255, 0.8) ;
   }

   .header .menu{
      float: left;
   }


   .header .menu-1{
      float: right;
      margin-top:10px;
      padding: 0;
   }

   .header .menu-1 ul{
      background-color:rgba(0, 0, 0, 0.6);
    }

   .header  ul{
      float: right;
      padding: 0 20px;
      list-style: none;
      display:flex;
   }

   .header  ul li{
      padding: 10px;
   }

   .header  ul li a{
      text-decoration: none;
      color: white;
      font-family: arial;
   }

   .header .menu-1 ul li:hover{
      background-color: #b8001a;
   }

   .header .menu .dropdown{
      display: none;
   }

   .header .menu ul li:hover  .dropdown{
      display: block;
      position: absolute;
      color: ;
   }

   .dropdown ul{
      display: block;
      padding: 0;
      margin: 0;
      margin-top: 10px;
   }
    
    
   .header .menu-2 ul li a{
      color: black;

   }
   .header .menu-2 li:hover{
      color:white;
       background-color: #b8001a;
   }

    .header .menu-2 ul{
      background-color: rgba(255, 255, 255, 0.8) ;
      font-family: arial;
    }

    

    .header .menu-2 :hover{
      color: white;
    }

    .header  .menu-2 ul .about-border  ul li{
      border-top: 2px solid red;
    }


    .header .menu-2 ul a{
      color: black;
    }

     .header .menu-2 ul ul{
      background-color: white;
    }

    .header .menu-2 ul ul a{
        color: black;
    }

    #check{
      display: none;
    }

    .checkbtn{
      font-size: 40px;
      margin: 20px;
      float: right;
      display: none;

    }

    .menu{
    }

     @media(max-width: 999px){
      .header{
         height: 18.5vh;
          background-color: rgba(255, 255, 255, 0.8) ;
      }

      .header .logo{
         display: block;
         float: none;
      }



      .header .logo img{
         padding: 15px;
      }

      .menu ul{
         display: block;
         background-color: white;
      }      

       .menu{
         position: fixed;
         height: 100vh;
         width: 100%;
         bottom: 100%;
         transition: 2s;
       }

       .menu ul li{
         height: 100%;
         width: 100%;
         padding-right: 300px;
       }
        


       .header .menu-1 ul{
      background-color:rgba(255, 255, 255, 0.8);
    }

    .header .menu-2{
    display: block;
    }

    .header .menu-1{
      margin-top: 0px;
      display: block;
    }

     .header  ul li a{
      color: black;
      font-family: arial;
   }

   .checkbtn{
      display: block;
   }

   #check:checked ~ .menu{
        bottom: -18.5vh;
    }


    }

   @media(max-width: 989px){
      .menu ul li{
         height: 100%;
         width: 100%;
         padding-right:290px;
       }
    }

     @media(max-width:969px){
      .menu ul li{
         height: 100%;
         width: 100%;
         padding-right: 230px;
       }
    }
     @media(max-width: 850px){
      .menu ul li{
         height: 100%;
         width: 100%;
         padding-right: 180px;
       }
    }

    @media(max-width:750px){
      .menu ul li{
         height: 100%;
         width: 100%;
         padding-right:100px;
       }
    }

    @media(max-width:718px) and (min-width: 506px){
      .menu ul li{
         height: 100%;
         width: 100%;
         padding-right:100px;
       }

        body  #whatspp-icon .fa-brands{
      font-size:30px;
      position:fixed;
      top:350px;
      right:200px;
      padding: 10px;
      margin: 0;
    }
    }

     @media(max-width:486px){
      .menu ul li{
         height: 100%;
         width: 100%;
         padding-right:50px;
       }
    }


    .content{
      height: 63.5vh;
    }

    .content .scroll{
      position:absolute;
      bottom: 120px;
      left: 60px;
      color: white;
    }

    .content .scroll .scroll-box{
      border-radius:15px;
      height: 40px;
      width: 23px;
      border: 2px solid red;
      float: left;
    } 
     
    .content .scroll .scroll-contant{
      font-size: 50px;
      position: absolute;
      bottom: 0;
      left: 0;
      align-content: center;
      padding: 0 3PX;
      font-weight: 600;
      animation: scroll 2s infinite linear;
    }

     @keyframes scroll{
      0%{
         bottom: 0;
      }
      50%{
         bottom:13px;
      }
    }


    .content .scroll .scroll-titel{
      float: left;
      border-bottom: 1px dotted white;
      margin: 10px;
    }

   
    .footer-1{
      height: 15vh;
      width: 100%;
      background-color:rgba(0, 0, 0, 0.5);
    }

    .footer-1  .box{
      height: 100%;
      width: 90%;
      margin:  40px;
      color: white;
    }
    
    .footer-1  .box p{
      font-size: 13px;
      margin: 10px;
      margin-left: 70px;
      margin-bottom: 0px;
    }

    .footer-1 .box a{
      text-decoration: none;
      color: white;
    }
    
    .footer-1  .box b{
      font-size: 20px;
      margin-left: 12px;
      font-weight: 800;
      margin-bottom: 10px;
    }


    .footer-1 .box img{
      height: 100%;
      float: left;
    }
  
   .footer-1 .box .box-1{
      height: 100%;
      width: 25%;
      float: left;
      padding: 20px;
   }

   .footer-1 .box .box-2{
      height: 100%;
      width: 25%;
      float: left;
      padding: 20px;
   }

   .footer-1 .box .box-3{
      height: 100%;
      width: 25%;
      float: left;
      padding: 20px;
   }

   .footer-1 .box .box-4{
      height: 100%;
      width: 25%;
      float: left;
      padding: 20px;
   }

   .footer-1 .box-1:hover{
      background: #b8001a;
   }

   .footer-1 .box-2:hover{
      background: #b8001a;
   }

   .footer-1 .box-3:hover{
      background: #b8001a;
   }

   .footer-1 .box-4:hover{
      background: #b8001a;
   }
    
    

    .footer-2{
      height: 15vh;
    }

    .footer-2 .a{
      width: 25%;
      height: 100%;
      float: left;
    }

    .footer-2 .b{
      width: 50%;
      height: 100%;
      float: left;
      padding: 10px;
      position: sticky;
    }

    .footer-2 .b a{
      text-decoration: none;
    }

    .footer-2 .b img{
      height:80%;
      float: left;
      background-color: #13294b;
      border-radius: 5px;
      padding: 10px;
      margin-right: 15px;
    }

    .footer-2 .b .link{
      float: left;
    }

    .footer-2 .b .links .footer-2-link-1 {
      font-weight: bold;
      margin:5px;
      font-size: 20px;
    }

    .footer-2 .b .links .footer-2-link-1 a:hover{
      color:#d61b3c ;
    }

    .footer-2 .b .links .footer-2-link-2 a{
      color: #d61b3c;
      border-right: 1px solid #999 ;
      padding: 0 10px;
    }


    .footer-2 .c{
      width: 25%;
      height: 100%;
      background-color:green;
      float: left;
    }

    .why-study-du{
      float: left;
      width: 50%;
      background-color:#f7f7f7;
      padding: 55px 30px 130px 100px;
    }

    .why-study-du .why-study-du-title{
      font-size: 28px;
       color:#343a40;
    }

    .why-study-du-title b{
       font-weight: 800;
    }

    .why-study-du .rejan{
      margin-top: 35px;
      margin-left: 29px;
      line-height: 23px;
      height: 15vh;
      word-spacing: 1px;
    }

    .why-study-du .rejan-num{
      float: left;
      background-color: #dc3545;
      width: 30px;
      height: 30px;
      text-align: center;
      color: white;
      font-weight:700;
      font-size: 20px;
      border-radius: 50%;
      margin-right: 15px;
      padding-top: 3px;
    }

    .why-study-du .rejan-name{
      float: left;
      font-size: 15px;
       color: #343a40;
       padding-top: 2px;
    }

    .rejan-name b{
     font-size: 18px;
    }

    .progarm-offerd{
      float: left;
      width: 50%;
      background-color:white;
      border-top: 3px solid #f7f7f7;
    }

    .progarm-offerd-ditel{
      margin: 55px 55px 20px 50px;
    }

    .progarm-offerd-ditel .progarm-offerd-ditel-title{
      font-size: 28px;
      color:#343a40;
    }

    .progarm-offerd-ditel-title b{
      font-weight: 800;
    }

    .progarm-offerd-ditel .progarm-offerd-ditel-big{
      margin-top: 30px;
      line-height: 25px;
      height: 22vh;
      margin-bottom: 10px;
      margin-right: 80px;
    }

    .progarm-offerd-ditel-big:hover{
       background-color:#f7f7f7;
    }

    .progarm-offerd-ditel-big .progarm-offerd-ditel-logo{
      float: left;
      background-color: #13294b;
      border-radius:5px;
      padding: 8px;
      margin: 5px 15px 5px 5px;
    }

    .progarm-offerd-ditel-logo img{
      height: 35px;
      width: 40px;
    }

    .progarm-offerd-ditel-big a:hover{
      color:#dc3545 ;
    }

    .progarm-offerd-ditel-big .progarm-offerd-ditel-name{
      float: left;
      padding-top: 5px;
      font-size: 14.5px;
    }

    .progarm-offerd-ditel-name .progarm-offerd-ditel-name-title {
      color:#dc3545;
      font-size: 18px;
    }

    .progarm-offerd-ditel-name a{
      text-decoration: none;
      color: #343a40;
      font-size: 14.5px;
    }

    .progarm-offerd-ditel-name .progarm-offerd-ditel-name-degree-name{
      color:#343a40 ;
    }

    .progarm-offerd-ditel .Admission-qury{
      border: 4px solid #ddd;
      margin-top: 30px;
      padding: 15px;
      height: 40vh;
      line-height: 20px;
    }

    .Admission-qury .Admission-qury-ditels{
      float: left;
      padding-right: 30px;
      color:#343a40 ;
      font-weight: 10;
      font-size: 14.5px;
      word-spacing: 2px;
      line-height: 24px;
    }

    .Admission-qury-ditels h2{
      font-weight: 1000;
      margin-bottom: 15px;
    }

    .Admission-qury-ditels a{
      text-decoration: none;
      color:#dc3545 ;
    }

    .Admission-qury-ditels a:hover{
      text-decoration: underline;
    }

    .Admission-qury .Admission-qury-buttons{
      float: left;
    }

    .Admission-qury-buttons .qury-btn-1, .qury-btn-2{
      height: 70px;
      width: 125px;
      margin-top: 20px;
      border-radius: 30px;
      border: none;
      font-size: 17px;
      color: white;
    }

    .qury-btn-1{
      background-color: #fe541e;
    }

    .qury-btn-1:hover{
      background-color:  #e65c1a;
      cursor: pointer;
    }

    .qury-btn-2{
      background-color: #d61b3c;
    }

    .qury-btn-2:hover{
      background-color:  #Ab1132;
      cursor: pointer;
    }

    .students-counts{
      height: 213vh;
      width: 100%;
      background: linear-gradient(90deg, #d61b3c 0%, #26304d 100%);

    }

    .students-counts .counts{
      height:43vh;
      width: 25%;
      padding: 55px 20px 29px 90px;
      color: #fff;
    }

    .students-counts .counts i{
         font-size: 50px;
         padding-left: 40px;
         padding-bottom: 20px;
    }

    .students-counts .counts b{
      font-weight: 900;
      font-size: 35px;
      line-height: 55px;
      padding-left: 20px;
    }

    .counts p{
      letter-spacing: 1px;
      font-size: 17px;
      line-height: 25px;
    }

    .counts #first-line-student{
      padding-left: 35px;
    }

    .counts .Calculat-symbol{
      font-size: 25px;
      font-weight: bold;
    }

    .students-counts .students-us{
      float: left;
    }

    .students-counts .world-class{
      float: left;
    }

    .world-class #first-line-worl-class{
      padding-left: 7px;
    }

    .world-class p{
      padding-left: 14px;
    }


    .students-counts .projrct{
      float: left;
    }

    .projrct p{
      padding-left: 30px;
    }

    .projrct .first-line-project{
      padding-left: 10px;
    }

    .students-counts .cours{
      float: left;
    }

    .cours p{
      padding-left: 20px;
    }


    .last-footer{
    height: 90VH;
    }


    .last-footer .last-footer-content{
      float: left;
      background-color:#212529;
      padding: 20px 40px;
    }

   .last-footer .last-footer-content hr{
      border: .001px solid #6c757d;
      margin: 10px 0;
   }

    .last-footer .last-footer-content a{
      color: rgba(255, 255, 255, 0.8);
      text-decoration: none;
      line-height: 20px;
    }

    .last-footer .last-footer-content a:hover{
      text-decoration: underline;
      color: white;
    }

    .last-footer .last-footer-content p{
      color: rgba(255, 255, 255, 0.8);
      line-height: 20px;
      word-spacing: 5px;
    }


    .last-footer .last-footer-content .content-name{
       color:#d61b3c;
       font-weight: bold;
       line-height: 20px;
       border-bottom:1px solid white;
       padding: 15px;
       padding-top: 0;
    }

    .last-footer .last-footer-content i{
    }

    .last-footer .last-footer-content .f-l-b-1{
      float: left;
      width:25%;
      padding: 15px;
      padding-top: 0;
    }

    .last-footer .last-footer-content .f-l-b-1 img{
      height: 70px;  
    }

    .last-footer .last-footer-content .f-l-b-2{
      float: left;
      width:25%;
      padding: 15px;
      padding-top: 0;
    }

    .last-footer .last-footer-content .f-l-b-3{
      float: left;
      width:25%;
       padding: 15px;
      padding-top: 0;
    }

    .last-footer .last-footer-content .f-l-b-4{
      float: left;
      width:25%;
       padding: 15px;
      padding-top: 0;
    }

    .last-footer .last-footer-content .f-l-b-4 i{
      width: 20 px;
      align-items: center;
      color: rgba(255, 255, 255, 0.8);
      font-size: 20px;
      margin-right:9px;
    }

  .last-footer-2{
   background-color: #111;
   color: rgba(255, 255, 255, 0.8);
   padding:35px 40px;
   font-size: 14px;
   padding-top: 590px;
  }

  .last-footer-2 .coppy{
  }

  .last-footer-2 .coppy p{
   margin-top: 10PX;
  }

  .last-footer-2 .icons{
   position:absolute;
   right: 0;
  
  } 

  .last-footer-2 .icons i{
    padding-right: 15px;
   margin-left: 5px;
  }

