*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: arial;
}

.last-footer{
  margin-top: 40px;
}

.last-footer-2{
  padding-top: 0px;
}
    
   .phd-body{
     background-image:url(https://darshan.ac.in/Content/media/bg/bg_1.jpg);
      height: 64vh;
      background-repeat: no-repeat;
      background-size:cover;
       }


   
      .title .title-name{
  	   width:40%;
  	   background-color: #d61b3c;
  	   position: relative;
       top: -40px;
  	   left: 60px;
      padding: 25px  35px;
      font-size: 30px;
      font-weight: bold;
      font-weight: 800;
      color: white;
      border-radius: 10px;
  }  
  
     .title .back-links{
        position: relative;
        top: -40px;
        left: 60px;
        width: 40%;
        font-size:15px;
        border-bottom: 1px solid #ddd;
        border-radius: 10px;
        margin: 10px;
        margin-left: 0;
    }

    .title .back-links a i{
      color: black;
      padding: 6px;
    }

    .title .back-links a{
      color:#d61b3c;
      text-decoration: none;
    }

     .back-links  #home i:hover{
      color:#d61b3c ;
    }
   
 .about-introdction{
      margin-left:60px;
    }

   .about-introdction #About-title{
     border-bottom: 1px solid #ddd;

   }    

   .about-introdction #About-title h3{
     font-weight:800;
     color:#d61b3c;
     font-size: 20px;
     width: 305px;
     border-bottom: 2px solid black;
    }

    .about-introdction p{
      word-spacing: 5px;
      white-space: 0px;
      line-height: 25px;
    }

