.last-footer{
    margin-top: 30px;
    height: 10vh;
 }


 .last-footer-2{
    padding-top: 500px;
 }

 .about-introdction #what-is-ssip h3{
     font-weight:800;
     color:#d61b3c;
     font-size: 20px;
     width: 155px;
     border-bottom: 2px solid black;
    }

   ul{
    padding:20px;
    padding-left: 40px;
   }
    ul li{
        padding-bottom: 5px;
    }

    